<div class='row mt-12 text-left'>
  <div class='offset-md-3 col-md-6 mb-4'>
    <div class='card bg-red'>
      <div class='card-body'>
        <h1>Nuevo Torneo</h1>

        <%= render 'form', tournament: @tournament %>

        <%= link_to 'Back', tournaments_path %>
      </div>
    </div>
  </div>
</div>