<p id="notice"><%= notice %></p>

<p>
  <strong>Typetournamentname:</strong>
  <%= @typetournament.typetournamentname %>
</p>

<%= link_to 'Edit', edit_typetournament_path(@typetournament) %> |
<%= link_to 'Back', typetournaments_path %>
