/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
  margin: 0;
  padding: 0;
  font-family: 'Lato';
  background: url(background.jpg);
  background-size: 270px;
  /* background: #101623; */
  color: #95afc0;
}
a:visited{color: #95afc0}
.navcolor{background: #101623; color: #95afc0;}

/* Texts */
.box{
  color: #95afc0;
  width: 450px;
  padding: 20px;
  position: absolute;
  background: #191919;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  border-radius: 20px;
  margin-bottom: 20px;
  opacity: .9;
}
.box h1{
  text-transform: uppercase;
  font-weight: 500;
}

/* Rags */
.middle{
  position: absolute;
  display: flex;
  justify-content: center;
}
.text{
  color: #95afc0;
  font-size: 70px;
  font-family: 'Lato';
  font-weight: 900;
  cursor: pointer;
}
.hidden{
  max-width: 0;
  opacity: 0;
  transition: 0.5s ease-in;
}
.text:hover .hidden{
  opacity: 1;
  max-width: 1em;
}

/* iconos */
.fab{padding-right: 8px;}
.fa-xbox{color: #407d11;}
.fa-playstation{color: #0e95d8;}
.fa-nintendo-switch{color: #e84a19;}
.fa-steam{color: #367096;}
