/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body{
  margin: 0;
  padding: 0;
  font-family: 'Lato';
  /* background-image: url(pattern.png); */
  background-color: #d65454;
}
a:visited{color: white}
.bg-red{background-color: #383838}

/* Rags */
.middle{
  position: absolute;
  display: flex;
  justify-content: center;
}
.text{
  color: #ffffff;
  font-size: 70px;
  font-family: 'Lato';
  font-weight: 900;
  cursor: pointer;
}
.hidden{
  max-width: 0;
  opacity: 0;
  transition: 0.5s ease-in;
}
.text:hover .hidden{
  opacity: 1;
  max-width: 1em;
}

/* iconos */
.fab, .fas{padding-right: 8px}
.xbox{color: #407d11}
.psn{color: #0e95d8}
.switch{color: #e84a19}
.pc{color: #f7cd04}
.mobile{color: #05a3ef}
